<div class="daily_weather_container">
  <p class="title align-center">Daily weather</p>
  <div class="daily_weather">
    <div class="day_period align-center">
      <p class="title">Morning</p>
        <img src="{{dailyWeather[6].icon}}" height="80px" width="80px">
      <p class="title" style="font-size: 16px; font-weight: bolder; color: #f8e3c0; margin-bottom: 3px">{{dailyWeather[6].conditions}}</p>
      <p class="title">{{dailyWeather[6].temp | number: '1.0-0'}}C°</p>
    </div>
    <div class="day_period align-center">
      <p class="title">Afternoon</p>
      <img src="{{dailyWeather[12].icon}}" class="small-img">
      <p class="title" style="font-size: 16px; font-weight: bolder; color: #f8e3c0; margin-bottom: 3px" >{{dailyWeather[12].conditions}}</p>
      <p class="title">{{dailyWeather[12].temp | number: '1.0-0'}}C°</p>
    </div>
    <div class="day_period align-center">
      <p class="title">Evening</p>
      <img src="{{dailyWeather[18].icon}}" class="small-img">
      <p class="title" style="font-size: 16px; font-weight: bolder; color: #f8e3c0; margin-bottom: 3px">{{dailyWeather[18].conditions}}</p>
      <p class="title">{{dailyWeather[18].temp | number: '1.0-0'}}C°</p>
    </div>
    <div class="day_period align-center">
      <p class="title">Overnight</p>
      <img src="{{dailyWeather[22].icon}}" class="small-img">
      <p class="title" style="font-size: 16px; font-weight: bolder; color: #f8e3c0; margin-bottom: 3px">{{dailyWeather[22].conditions}}</p>
      <p class="title">{{dailyWeather[22].temp | number: '1.0-0'}}C°</p>
    </div>
  </div>
</div>
