<div class="forecast_container" (click)="buttonClicked()">
  <div class="fajsaksf">
    <p class="month_day">{{forecast.datetime | date:'cccc, dd'}}</p>
    <div class="WUPbwxcclV">
      <div class="weather-caption">
        <div class="weather-day-temp">
          <img class="month_state" src="{{forecast.icon}}" height="40px" width="40px">
          <div class="weather-temp">
            <p class="day-temp">{{forecast.tempmax | number: '1.0-0'}}°</p>
            <p class="night_temp">/{{forecast.tempmin | number: '1.0-0'}}°</p>
          </div>
        </div>
        <p class="day-condition">{{forecast.conditions}}</p>
      </div>
    </div>
  </div>
</div>
