<div class="header">
  <div class="header_navbar">
    <a href="#" class="logo" style="position: absolute">
      <img alt="none" src="https://svgshare.com/i/jDX.svg">
    </a>
  </div>
</div>
<div class="header_border">
  <div class="color_line"></div>
  <div class="color_line" style="background: #FFB0CA"></div>
  <div class="color_line" style="background: #00F0FF"></div>
  <div class="color_line" style="background: #0075FF"></div>
  <div class="color_line" style="background: #CC00FF"></div>
  <div class="color_line" style="background: #00FF57" ></div>
</div>
<router-outlet></router-outlet>

