/* You can add global styles to this file, and also import other style files */
body
{
  padding: 0;
  margin:0;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  background: linear-gradient(to bottom, #007ced 1%, #2096ff 110%) fixed;
}

*{
  box-sizing: border-box;
}

body, html, app-root{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p
{
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background: #007ced;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF40;
}

.container{
  max-width: 1050px;
  margin: 0 auto;
  padding-left:12px;
  padding-right:12px;
}

.color_line
{
  height: 2px;
  width: 320px;
  background: #FFE500;
}
.header_border
{
  display: flex;
}
.page_search
{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cloud-intro{
  z-index: 1;
  position: absolute;
  height: 92.5vh;
  width: 100%;
}
.weather_info_container
{
  display: block;
  padding: 12px 0;
}
.weather_content
{
  display: flex;
  justify-content: center;
}
.weather_general
{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.weather_container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.day_weather
{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #ffffff2e;
  padding: 10px;
}

#today{
  flex: 2 1 270px;
}

.title
{
  padding: 0;
  font-size: clamp(18px, 3vw, 22px);
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}
.weather_info{
  display: flex;
  align-items: center;
  margin: auto 0;
  gap: 5px 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.day_state
{
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.day_state p
{
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0;
}

.day_temp
{
  flex: 1 1 fit-content;
  display: block;
  text-align: center;
}

.temp
{
  font-size: 48px;
  font-weight: bold;
  color: #FFB92F;
  margin: 0;
}

.temp span
{
  color: white;
  font-size: 32px;
  position: relative;
  bottom: 15px;
}

.day_night_temp
{
  font-size: 20px;
  color: white;
  font-weight: bolder;
  margin-right: 10px;
}
.day_night_temp span
{
  color: black;
}

.options
{
  flex-basis: 350px;
}

.sunrise
{
  display: flex;
  margin: 10px 10px 0 10px;
  justify-content: space-between;

}
.feels_like
{
  margin: 0;
  font-size: 20px;
  color: white;
}
.sun_info
{
  display: block;
  min-width: 205px;
  text-align: center;
  height: 105px;
}
.sun_icon
{
  position: relative;
  top:-10px
}
.timelines
{
  position: relative;
  bottom: 8px;
  color: white;
  font-size: 16px;
}
.timelines p
{
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}
.timelines img
{
  margin: 0 3px;
}
.horizontal_separator
{
  width: 100%;
  height: 2px;
  background: white;
  margin-bottom: 10px;
}
.weather_options
{
  padding: 0 20px;
  display: block;

}
.options_field
{
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.options_field p
{
  color: white;
  font-size: 18px;
}
#pressure
{
  margin-right: 11px;
  margin-left: 6px;
}
#wind
{
  margin-right: 10px;
}
#humidity
{
  margin-right: 15px;
  margin-left: 2px;
}
#visibility
{
  margin-right: 13px;
  top:3px;
  position: relative;
}


.night_temp
{
  color: #003370;
  font-weight: normal;
}
.month_weather_container
{
  display: block;
  padding-top: 16px;
  border-radius: 10px 10px 0 0;
  background: #ffffff2e;
}

.month_weather
{
  display: grid;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.month_weather p
{
  font-size: 18px;
}
.fajsaksf
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 12px;
}
.aspifkl p{
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
}
.aspifkl
{
  display: flex;
}
.month_day
{
  flex: 1 1 100%;
  color: white;
  text-align: center;
}
.month_state
{
  margin-right: 15px;
}
.WUPbwxcclV
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 12px;
  flex-grow: 1;
  font-size: 16px;
}

.windspeed img
{
  top:3px;
  position: relative;
}

.list_button
{
  border: 0;
  background: transparent;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease;
  position: relative;
  margin-right: 30px;
  top:3px;
  margin-left: auto;
}
.list_button:focus
{
  transform: rotate(0.5turn);
}
.active
{
  top: -3px;
  left: 95%;
margin: 20px 0 0 0 ;
}
.WUPbwxcclV p img
{
  margin-right: 20px;
}
.day_details
{
  margin-top: 10px;
  display: flex;
  padding: 0 20px;
  margin-bottom: 20px;
  align-items: center;
}
.period_info
{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.period_temp
{
  display: flex;
}
.period_temp p{
  font-size: 40px;
  font-weight: bolder;
  margin-right: 5px;
}
.period_temp img
{
  margin-top: 10px;
  margin-left: 10px;
}
.period_info p img
{
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.period_description
{
  margin: 7px 0;
}
.period_options
{
  flex: 1;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  height: 70px;
  box-shadow: 0 2px 6px rgb(0,0,0,0.4);
}
.option_container
{
  display: flex;
}
.alshfas
{
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
}
.alshfas:last-child
{
  margin: 0;
}
.alshfas img
{
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.separator
{
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
.footer
{
  padding: 20px 0;
  background: rgb(0,0,0,.85);
}
.links_title
{

  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 0 12px #00F0FF;
  font-size: 18px;
}
.footer_links
{
  display: flex;
  justify-content: space-between;
}
.links a
{
  text-decoration: none;
  display: block;
  margin: 3px 0;
  color: #4271A8;
  transition: 300ms ease;
}
.links a:hover
{
  color: #FFFFFF;
  text-shadow: 0 0 2px #ffffff;
}
.footer_copyright
{
  margin-top: 60px;
}
.footer p
{
  color: white;
  font-size: 16px;
  margin-top: 20px;
}
.socials_container
{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.socials_container a
{
  margin-left: 25px;
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials_container a img
{
  transition: 400ms;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
}
.socials_container a img:hover
{
 border-color: #00F0FF;
}

.socials_container a:first-child
{
  margin:0;
}
.month_container
{
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  position: relative;
  transition: 400ms;
}
.month_container:hover
{
  border-color: rgba(255, 255, 255);
}

.details_container
{
  display: block;
}
.details_container:hover
{
  border-color: rgba(255, 255, 255);
  cursor: pointer;
}



